{% block assets %}
    {% stylesheet 'bundles/yrch/css/main.css' %}
{% endblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ yrch_locale() }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Yrch! - {% block title_content %}{% trans "Welcome" %}{% endblock %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('bundles/yrch/favicon.ico') }}" />
        {% stylesheets %}
        {% javascripts %}
    </head>
    <body>
        <div id="header">
            {% block header %}
                <div>
                    <div id="change_language">
                        <span>{{ yrch_languageName(yrch_locale()) }}</span>
                        <ul>
                            {% for language in yrch_availableLanguages %}
                                <li><a href="{{ path(yrch_route(yrch_currentRoute(), language), yrch_currentRouteParameters()) }}">{{ yrch_languageName(language) }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endblock %}
        </div>
        <div id="container">
            {% block container %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}{% endblock %}
        </div>
    </body>
</html>
