{% for site in sites %}
    <div class="site">
        <h3><a href="{#{% path _view.locale.route("site_show") with ['id': site.id ] %}#}">{{ site.name }}</a></h3>
        <p>
            {% for language in site.languages %}
                {{ _view.locale.getLanguageName(language) }}
            {% endfor %}
        </p>
        <p>{{ site.description }}</p>
        {% set createdAt = site.createdAt|date("d/m/Y") %}
        {% set updatedAt = site.updatedAt|date("d/m/Y") %}
        <p>{% trans %}Added on {{ createdAt }} / Last modified on {{ updatedAt }}{% endtrans %}
    </div>
{% endfor %}