<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.session.locale }}" lang="{{ app.session.locale }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Yrch! - {% block title_content %}{{ "Welcome"|trans }}{% endblock %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('bundles/yrch/favicon.ico') }}" />
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset('bundles/yrch/css/main.css') }}" />
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/yrch/js/css3-mediaqueries.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div id="header">
            {% block header %}
                <div>
                    <div id="change_language">
                        <span>{{ yrch_languageName(app.session.locale) }}</span>
                        <ul>
                            {% for language in yrch_availableLanguages %}
                                <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.all|yrch_cleanRouteParameters|merge({'locale': language})) }}">{{ yrch_languageName(language) }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endblock %}
        </div>
        <div id="container">
            {% block container %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}{% endblock %}
        </div>
    </body>
</html>
