<ul id="sites">
{% for site in sites %}
{% spaceless %}
    <li>
{% endspaceless %}
        <div class="site">
            <div class="site_left">
{% if site.averageScore is empty %}
                <div class="score">N/A</div>
{% else %}
                <div class="score" style="background-color: {{ yrch_scoreColor(site.averageScore) }}">{{ site.averageScore }}</div>
{% endif %}
                {% if site.isSelectioned %}<div><img src="{{ asset('bundles/yrch/images/selection.gif') }}" alt="{{ 'Selection'|trans }}" title="{{ 'Selection'|trans }}" /></div>{% endif %}
                {% if site.isLeech %}<div><img src="{{ asset('bundles/yrch/images/leecher.gif') }}" alt="{{ 'Leecher'|trans }}" title="{{ 'Leecher'|trans }}" /></div>{% endif %}
            </div>
            <h3><a href="{{ path('site_show', {'id': site.id }) }}">{{ site.name }}</a></h3>
            <p>
                {% for language in site.languages %}
                    {{ yrch_languageName(language) }}
                {% endfor %}
            </p>
            <p class="description">{{ site.description|nl2br }}</p>
            <p>{% trans %}Categories{% endtrans %} :
                {% for cat in site.categories %}
                    <a href="{{ path('category_show', {'id': cat.id }) }}" class="thin">{{ cat.name }}</a>
                {% endfor %}
            </p>
            {% set createdAt = site.createdAt|date("d/m/Y") %}
            {% set updatedAt = site.updatedAt|date("d/m/Y") %}
            <p>{% trans %}Added on %createdAt% / Last modified on %updatedAt%{% endtrans %}</p>
        </div>
{% spaceless %}
    </li>
{% endspaceless %}
{% else %}
    <li>{% trans %}No sites found{% endtrans %}</li>
{% endfor %}
</ul>
